<div class=top>
  <div class= "top-caption">
    <br></br>
    <h1>自炊のハードルを下げる！Rakumeshi</h1>
    <p>
      自炊したいけれど何をつくりたいか思いつかない。<br>
      そしてレシピを探している間に面倒になり結局自炊をやめる。<br>
      でも明日こそは自炊をしたい。<br>
      この悩みRakumeshiが解決します。
    <p/>
  </div>
  <br></br>
  <div class="d-grid gap-2 col-5 mx-auto ">
      <a class="btn btn-success btn-lg" href="https://6f9ef3fa4ed74321aca13ebcffd16d22.vfs.cloud9.ap-northeast-1.amazonaws.com/users/sign_up">
        新規登録
      </a>
      <br></br>
      <a class="btn btn-secondary btn-lg" href="https://6f9ef3fa4ed74321aca13ebcffd16d22.vfs.cloud9.ap-northeast-1.amazonaws.com/users/sign_in">
        ログイン
      </a>
  </div>
</div>

